<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Corporal</title>
</head>
<body>
    <h1>Historial Corporal</h1>
    <form action="{% url 'crearCorporal' cliente.idCliente %}" method="GET">
        <label for="">Nombre esteticista</label>
        <input type="text" name="nombreE">
        <h2>Estado de salud y modo de vida</h2>
        <h3>Sufre Problemas</h3>
        <label for="">Tension arterial</label>
        <select name="tensionA" id="">
            <option value="No">No</option>
            <option value="Sí">Sí</option>
        </select>
        <label for="">Digestivo</label>
        <select name="digestivo" id="">
            <option value="No" >No</option>
            <option value="Sí" >Sí</option>
        </select>
        <label for="">Circulacion</label>
        <select name="circulacion" id="">
            <option value="No" >No</option>
            <option value="Sí" >Sí</option>
        </select>
        <label for="">Endocrino</label>
        <select name="endocrino" id="">
            <option value="No" >No</option>
            <option value="Sí" >Sí</option>
        </select>
        <label for="">Cardiacos</label>
        <select name="cardiacos" id="">
            <option value="No" >No</option>
            <option value="Sí" >Sí</option>
        </select>
        <label for="">Otros</label>
        <textarea name="otrosP" id="" cols="30" rows="10"></textarea>

        <h3>Peso actual</h3>
        <label for="">Kilos</label>
        <input type="text" name="kilos">
        <label for="">Talla</label>
        <input type="text" name="talla">
        <label for="">Altura</label>
        <input type="text" name="altura">
        <label for="">Masa corporal</label>
        <input type="text" name="masaC">
        <label for="">Silueta</label>
        <select name="siluetas" id="">
            <option value="Manzana" >Manzana</option>
            <option value="Rectángulo" >Rectángulo</option>
            <option value="Pera" >Pera</option>
            <option value="Reloj de arena" >Reloj de arena</option>
            <option value="Triángulo Invertido" >Triángulo Invertido</option>
        </select>
        <label for="">Cirugías</label>
        <textarea name="cirugias" id="" cols="30" rows="10"></textarea>
        <label for="">Fibrosis</label>
        <textarea name="fibrosis" id="" cols="30" rows="10"></textarea>
        <label for="">Costumbres Alimenticias</label>
        <textarea name="costumbresA" id="" cols="30" rows="10"></textarea>
        <label for="">Deportes Practicados</label>
        <textarea name="deportesP" id="" cols="30" rows="10"></textarea>

        <h3>Modo de vida</h3>
        <label for="">Mode de vida</label>
        <select name="modoV" id="">
            <option value="Activa" >Activa</option>
            <option value="Sedentaria" >Sedentaria</option>
        </select>
        <label for="">Fuma</label>
        <select name="fuma" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Alcohol</label>
        <select name="alcohol" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Calidad de sueño</label>
        <select name="calidadS" id="">
            <option value="Buena" >Buena</option>
            <option value="Mala" >Mala</option>
        </select>
        <label for="">Notas</label>
        <textarea name="notasV" id="" cols="30" rows="10"></textarea>

        <h2>Observaciones</h2>
        <label for="">problemas para tratar</label>
        <textarea name="problemasT" id="" cols="30" rows="10"></textarea>

        <h3>Grasa localizada</h3>
        <label for="">Abdomen</label>
        <select name="abdomen" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Muslos</label>
        <select name="muslos" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Nalgas</label>
        <select name="nalgas" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Espalda</label>
        <select name="espalda" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Piernas</label>
        <select name="piernas" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Brazos</label>
        <select name="brazos" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Notas</label>
        <textarea name="notasO" id="" cols="30" rows="10"></textarea>
        <label for="">Tratamientos recomendados</label>
        <textarea name="tratamientosR" id="" cols="30" rows="10"></textarea>
        <label for="">Tratamientos efectuados</label>
        <textarea name="tratamientosE" id="" cols="30" rows="10"></textarea>
        
        <h2>Antecedentes Personales</h2>
        <label for="">Dermatitis</label>
        <select name="dermatitis" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Cirugías</label>
        <select name="cirugias1" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Cuáles</label>
        <textarea name="cualesC" id="" cols="30" rows="10"></textarea>
        <label for="">Hemofilia</label>
        <select name="hemofilia" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Embarazo</label>
        <select name="embarazo" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Cáncer</label>
        <select name="cancer" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Hepatitis</label>
        <select name="hepatitis" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Diabetes</label>
        <select name="diabetes" id="">
            <option value="No">No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Artritis</label>
        <select name="artritis" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Artrosis</label>
        <select name="artrosis" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Escoliosis</label>
        <select name="escoliosis" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Fracturas</label>
        <select name="fracturas" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Implantes Metálicos</label>
        <select name="implantesM" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Hipertensión</label>
        <select name="hipertension" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Hernias discales</label>
        <select name="herniasD" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Dónde</label>
        <textarea name="dondeHD" id="" cols="30" rows="10"></textarea>
        <label for="">Híperlordosis</label>
        <select name="hiperlordosis" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Hípercifosis</label>
        <select name="hipercifosis" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Problemas cardiacos</label>
        <select name="problemasC" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Hipotensión</label>
        <select name="hipotension" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Osteoporosis</label>
        <select name="osteoporosis" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Osteomielitis</label>
        <select name="osteomielitis" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Comedones</label>
        <select name="comedones" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Pústulas</label>
        <select name="pustulas" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Brotes</label>
        <select name="brotes" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Quistes</label>
        <select name="quistes" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Nódulos</label>
        <select name="nodulos" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Zonas</label>
        <textarea name="zonasA" id="" cols="30" rows="10"></textarea>

        <h2>Apreciación visual corporal</h2>
        <h3>Adiposidad</h3>
        <label for="">Localizada</label>
        <select name="adiposidadL" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Zona</label>
        <select name="adiposidadZ" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Completa</label>
        <select name="adiposidadC" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>

              <h3>Cicatrices o estrías</h3>
        <label for="">Localizada</label>
        <select name="cicatricesEL" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Zona</label>
        <select name="cicatricesEZ" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Tipo</label>
        <select name="cicatricesET" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>

        <h3>Flacidez</h3>
        <label for="">Localizada</label>
        <select name="flacidezL" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Zona</label>
        <select name="flacidezZ" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Completa</label>
        <select name="flacidezC" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>

        <h3>Alt.Vasculares</h3>
        <label for="">Localizada</label>
        <select name="altVascularesL" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Zona</label>
        <select name="altVascularesZ" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Tipo</label>
        <select name="altVascularesT" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>

        <h3>Celulitis</h3>
        <label for="">Localizada</label>
        <select name="celulitisL" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Zona</label>
        <select name="celulitisZ" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Completa</label>
        <select name="celulitisC" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>

        <h3>Temperatura</h3>
        <select name="temperatura" id="">
            <option value="Fría" >Fría</option>
            <option value="Tibia" >Tibia</option>
            <option value="Caliente" >Caliente</option>
        </select>

        <h3>Alt.pigmentarias</h3>
        <label for="">Amarillo rojizo</label>
        <select name="altpigmentariasAR" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Amarillo leve</label>
        <select name="altpigmentariasAL" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Amarillo profundo</label>
        <select name="altpigmentariasAP" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Amarillo medio rojizo</label>
        <select name="altpigmentariasAMR" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Amarillo leve verdoso</label>
        <select name="altpigmentariasALV" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Amarillo profundo verdoso</label>
        <select name="altpigmentariasAPV" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>

        <h3>Sensación</h3>
        <label for="">Levemente gruesa</label>
        <select name="sensacionLG" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Medianamente Gruesa</label>
        <select name="sensacionMG" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Muy gruesa</label>
        <select name="sensacionMUG" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Levemente fina</label>
        <select name="sensacionLF" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Medianamente fina</label>
        <select name="sensacionMF" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Muy Fina</label>
        <select name="sensacionMUF" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Piel deshidratada</label>
        <select name="sensacionPD" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Piel infiltrada</label>
        <select name="sensacionPI" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Retiene líquidos</label>
        <select name="retieneL" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Varices</label>
        <select name="varices" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Arañitas</label>
        <select name="aranitas" id="">
            <option value="No" >No</option>
            <option value="Si" >Si</option>
        </select>
        <label for="">Observaciones</label>
        <textarea name="observaciones" id="" cols="30" rows="10"></textarea>
        
        <button type="submit">Guardar</button>

    </form>

</body>

</html>