<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Detalle Facial</title>
</head>
<body>
    <li>{{mostrar.nombreE}}</li>
    <h2>Factores agravantes</h2>
    <li>{{mostrar.tratamientoM}}</li>
    <li>{{mostrar.cualTM}}</li>
    <li>{{mostrar.sustitucionH}}</li>
    <li>{{mostrar.tomaA}}</li>
    <li>{{mostrar.drogas}}</li>
    <li>{{mostrar.alimentosP}}</li>
    <li>{{mostrar.alimentosR}}</li>
    <li>{{mostrar.fuma}}</li>
    <li>{{mostrar.tomaL}}</li>
    <li>{{mostrar.protegeS}}</li>
    <li>{{mostrar.duermeB}}</li>
    <li>{{mostrar.menopausia}}</li>
    <li>{{mostrar.medicamentosOT}}</li>
    <li>{{mostrar.cualesOT}}</li>
    <li>{{mostrar.padeceE}}</li>
    <li>{{mostrar.cancerP}}</li>
    <li>{{mostrar.asma}}</li>
    <li>{{mostrar.lupus}}</li>
    <li>{{mostrar.herpes}}</li>
    <li>{{mostrar.hepatitis}}</li>
    <li>{{mostrar.epilepsias}}</li>
    <li>{{mostrar.dolorC}}</li>
    <li>{{mostrar.ampollasF}}</li>
    <li>{{mostrar.tiroides}}</li>
    <li>{{mostrar.problemasC}}</li>
    <li>{{mostrar.psicologicos}}</li>
    <li>{{mostrar.urinarios}}</li>
    <li>{{mostrar.nasales}}</li>
    <li>{{mostrar.digestivos}}</li>

    <h2>Está utilizando o uso</h2>
    <li>{{mostrar.alfahidroxiacidos}}</li>
    <li>{{mostrar.retinA}}</li>
    <li>{{mostrar.differin}}</li>
    <li>{{mostrar.accutane}}</li>
    <li>{{mostrar.motivoC}}</li>
    <li>{{mostrar.productoCM}}</li>

    <h2>Analisis de piel</h2>
    <li>{{mostrar.normal}}</li>
    <li>{{mostrar.gruesa}}</li>
    <li>{{mostrar.aspera}}</li>
    <li>{{mostrar.suave}}</li>
    <li>{{mostrar.normal1}}</li>
    <li>{{mostrar.cerrado}}</li>
    <li>{{mostrar.dilatado}}</li>

    <h2>Brillo</h2>
    <li>{{mostrar.zonasM}}</li>
    <li>{{mostrar.zonasB}}</li>

    <h2>Grado de hidratacióno</h2>
    <li>{{mostrar.normal2}}</li>
    <li>{{mostrar.deshidratada}}</li>
    <li>{{mostrar.hiperdeshidratada}}</li>

    <h2>Fototipo de piel</h2>
    <li>{{mostrar.fototipoP}}</li>

    <h2>Alteraciones del envejecimiento</h2>
    <li>{{mostrar.lineasF}}</li>
    <li>{{mostrar.profundas}}</li>
    <li>{{mostrar.flacidez}}</li>
    <li>{{mostrar.parpados}}</li>
    <li>{{mostrar.cuello}}</li>
    <li>{{mostrar.nasogenianos}}</li>
    <li>{{mostrar.labios}}</li>

    <h2>Acné(desde cuándo)</h2>
    <li>{{mostrar.comedones}}</li>
    <li>{{mostrar.milias}}</li>
    <li>{{mostrar.quistes}}</li>

    <h2>Pigmentación</h2>
    <li>{{mostrar.melasma}}</li>
    <li>{{mostrar.hipercromia}}</li>
    <li>{{mostrar.edema}}</li>
    <li>{{mostrar.grasa}}</li>

    <h2>Cuidados que realiza diariamente</h2>
    <li>{{mostrar.rutinasH}}</li>
    <li>{{mostrar.cuidadosH}}</li>
    <li>{{mostrar.mensuales}}</li>
    <li>{{mostrar.productoH}}</li>



</body>
</html>