
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Detalle Corporal</title>
</head>
<body>
    
    <li>{{mostrar.nombreE}}</li>

    <h2>Sufre problemas</h2>
    <li>{{mostrar.tensionA}}</li>
    <li>{{mostrar.digestivo}}</li>
    <li>{{mostrar.circulacion}}</li>
    <li>{{mostrar.endrocrino}}</li>
    <li>{{mostrar.cardiacos}}</li>
    <li>{{mostrar.otrosP}}</li>

    <h2>Peso actual</h2>
    <li>{{mostrar.kilos}}</li>
    <li>{{mostrar.talla}}</li>
    <li>{{mostrar.altura}}</li>
    <li>{{mostrar.masaC}}</li>
    <li>{{mostrar.siluetas}}</li>
    <li>{{mostrar.cirugias}}</li>
    <li>{{mostrar.fibrosis}}</li>
    <li>{{mostrar.deportesP}}</li>

    <h2>Modo Vida</h2>
    <li>{{mostrar.modoV}}</li>
    <li>{{mostrar.fuma}}</li>
    <li>{{mostrar.alcohol}}</li>
    <li>{{mostrar.calidadS}}</li>
    <li>{{mostrar.notasV}}</li>

    <button><a href="/formularioControlMedidas/{{mostrar.idCorporal}}">Crear Medidas</a></button>

    <table>
        <tr>
            <th>Fecha</th>
            <th>Brazo derecho</th>
            <th>Brazo izquierdo</th>
            <th>Abdomen alto</th>
            <th>Cintura</th>
            <th>Abdomen bajo</th>
            <th>Pierna Derecha </th>
            <th>Pierna Izquierda </th>
        </tr>

        {% for listar in medidas %}
        <tr>
            <td>{{listar.fecha}}</td>
            <td>{{listar.brazoD}}</td>
            <td>{{listar.brazoI}}</td>
            <td>{{listar.abdomenA}}</td>
            <td>{{listar.cintura}}</td>}
            <td>{{listar.abdomenB}}</td>
            <td>{{listar.piernaD}}</td>
            <td>{{listar.piernaI}}</td>}
        {% endfor %}

        </tr>
    </table>

    <h2>Observaciones</h2>
    <li>{{mostrar.problemasT}}</li>

    <h2>#Grasa localizada</h2>
    <li>{{mostrar.abdomen}}</li>
    <li>{{mostrar.muslos}}</li>
    <li>{{mostrar.nalgas}}</li>
    <li>{{mostrar.espalda}}</li>
    <li>{{mostrar.brazos}}</li>
    <li>{{mostrar.notasO}}</li>
    <li>{{mostrar.tratamientosR}}</li>
    <li>{{mostrar.tratamientosE}}</li>

    <h2>Antecedentes personales</h2>
    <li>{{mostrar.dermatitis}}</li>
    <li>{{mostrar.cirugias1}}</li>
    <li>{{mostrar.cualesC}}</li>
    <li>{{mostrar.hemofilia}}</li>
    <li>{{mostrar.embarazo}}</li>
    <li>{{mostrar.cancer}}</li>
    <li>{{mostrar.hepatitis}}</li>
    <li>{{mostrar.diabetes}}</li>
    <li>{{mostrar.artritis}}</li>
    <li>{{mostrar.artrosis}}</li>
    <li>{{mostrar.escoliosis}}</li>
    <li>{{mostrar.fracturas}}</li>
    <li>{{mostrar.implantesM}}</li>
    <li>{{mostrar.hipertencion}}</li>
    <li>{{mostrar.herniasD}}</li>
    <li>{{mostrar.dondeHD}}</li>
    <li>{{mostrar.hiperlordosis}}</li>
    <li>{{mostrar.hipercifosis}}</li>
    <li>{{mostrar.problemasC}}</li>
    <li>{{mostrar.hipotension}}</li>
    <li>{{mostrar.osteoporosis}}</li>
    <li>{{mostrar.osteomielitis}}</li>
    <li>{{mostrar.comedones}}</li>
    <li>{{mostrar.pustulas}}</li>
    <li>{{mostrar.brotes}}</li>
    <li>{{mostrar.quistes}}</li>
    <li>{{mostrar.nudulos}}</li>
    <li>{{mostrar.zonasA}}</li>

    <h2>Adiposidadl</h2>
    <li>{{mostrar.adiposidadL}}</li>
    <li>{{mostrar.adiposidadZ}}</li>
    <li>{{mostrar.adiposidadC}}</li>

    <h2>Cicatrices o estrías</h2>
    <li>{{mostrar.cicatricesEL}}</li>
    <li>{{mostrar.cicatricesEZ}}</li>
    <li>{{mostrar.cicatricesET}}</li>

    <h2>Flacidez</h2>
    <li>{{mostrar.flacidezL}}</li>
    <li>{{mostrar.flacidezZ}}</li>
    <li>{{mostrar.flacidezC}}</li>

    <h2>Alt.vasculares</h2>
    <li>{{mostrar.altVascularesL}}</li>
    <li>{{mostrar.altVascularesZ}}</li>
    <li>{{mostrar.altVascularesT}}</li>

    <h2>Celulitis</h2>
    <li>{{mostrar.celulitisL}}</li>
    <li>{{mostrar.celulitisZ}}</li>
    <li>{{mostrar.celulitisC}}</li>

    <h2>Temperatura</h2>
    <li>{{mostrar.temperatura}}</li>

    <h2>Alt.pigmentarias</h2>
    <li>{{mostrar.altpigmentariasAR}}</li>
    <li>{{mostrar.altpigmentariasAL}}</li>
    <li>{{mostrar.altpigmentariasAP}}</li>
    <li>{{mostrar.altpigmentariasAMR}}</li>
    <li>{{mostrar.altpigmentariasALV}}</li>
    <li>{{mostrar.altpigmentariasAPV}}</li>

    <h2>Sensación</h2>
    <li>{{mostrar.sensacionLG}}</li>
    <li>{{mostrar.sensacionMG}}</li>
    <li>{{mostrar.sensacionMUG}}</li>
    <li>{{mostrar.sensacionLF}}</li>
    <li>{{mostrar.sensacionMF}}</li>
    <li>{{mostrar.sensacionMUF}}</li>
    <li>{{mostrar.sensacionPD}}</li>
    <li>{{mostrar.sensacionPI}}</li>
    <li>{{mostrar.retieneL}}</li>
    <li>{{mostrar.varices}}</li>
    <li>{{mostrar.arañitas}}</li>
    <li>{{mostrar.observaciones}}</li>
    
    







    


    
</body>
</html>